/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

.post-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  div {
    flex: 1 1 0;
    
    &:first-child {
      padding-right: 0.5em;
    }
    
    &:last-child {
      padding-left: 0.5em;
      text-align: right;
    }
  }
}

.post-nav {
  a {
    span {
      color: var(--global-theme-color);
      &:hover {
        color: var(--global-theme-color);
        text-decoration: underline;
      }
      &:hover:after :not(.nav-item.dropdown) {
        width: 100%;
      }
    }
  }
}

.unsighted {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
